body {
  background-color: gray;
}

h1 {
  border: 20px solid black;
  padding: 10px;
  font-family: arial;
  display: block;
  margin: auto;
  text-align: center;
}

li.inputs {
  text-decoration: underline;
}

h3 {
  text-align: left;
  padding-left: 5%;
  font-family: "Courier New", Courier, monospace  

}

h1, h3 {
  background-image: url(stockchart.jpg);
  color: yellow;
  border: 15px solid black;
}

table, td, th {
  border: 2px solid blue;
}

table {
  margin: auto;
  background-color: yellow;
  text-align: center;
}

img {
  border: 1px dashed yellow;
  margin: auto;
}

#links
  {
    text-align: center;
    color: blue;
    font-family: helvetica;
  }

}

a:link {
  color:blue;
}

a:visited {
  color: yellow;
}

a:hover {
  color: blue;
}

@media screen and (max-width: 500px) {
  body {
    background-color: green;
  }
}

/** {
  outline: 1px solid red;
}*/
